*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.wrapper{
    margin: 40px;
    padding: 40px;
    color: blue;
}


/** crear menu **/
.cubridor{
    width: 100%;
    height: 80px;
    background: #2495c9;
}
header{
    margin-top: 10px;
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: absolute;
    z-index: 100;
}

nav{
    top: -20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 20px 0;
    width: 100%;
}

nav ul{
    list-style-type: none;
}

nav > ul{
    display: table;
    width: 100%;
    background:rgb(14, 8, 22);
    position: relative;
}

nav > ul  li{
    display: table-cell;
}

/*submenu */

nav >ul >li:hover >ul{
    display: block;
    height: 100%;
}

nav >ul >li >ul{
    display: block;
    position: absolute;
   background:rgb(14, 8, 22);
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/**************/

nav > ul li a{
    font-size: 1em;
    color: white;
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav >ul > li >ul >li a:hover{
    background: #a239ca;
    border-radius: 25%;
}

nav > ul > li a span{
    background: #2495c9;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: -55px;
}
nav > ul > li a span .icon{
    display: block;
    line-height: 60px;
}

nav >ul >li > a:hover >span{
    top: 0;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header2{
    position: fixed;
}

/*
.jewel{
    background: #4717f6;

}
.stark{
    background: #e7dfdd;
}*/
/********************/

/*** slider ****/
#galeria{
    width: 100%;
    background: #e7dfdd;
}

.flex-caption {
  width: 96%;
  padding: 2%;
  left: 0;
  bottom: 0;
  color: #fff;
  /* text-shadow: 0 -1px 0 rgba(0,0,0,.3); */
  font-size: 26px;
  /* line-height: 30px; */
}

.flex-caption a{
  width: 96%;
  display: block;
  /* padding: 2%; */
  left: 0;
  bottom: 0;
  /* margin-top: 20px; */
  color: #a239ca;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 26px;
  /* line-height: 10px; */
}
/**********************************/